.container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  padding: 0 25px;

  background-color: rgba(50, 27, 27, 0.5);
  backdrop-filter: blur(10px);

  min-height: 75px;
  will-change: height;
  transition: height 1s;
}

.footer-text {
  justify-self: center;
  align-self: center;

  padding: 15px;
  text-align: center;
  color: white;
  font-family: Lato, sans-serif;
  font-size: 12px;
}

/* Mobile Media Query */
@media (max-width: 630px) {
  .container {
    min-height: 50px;
    grid-template-columns: 1fr;

    social-icons {
      display: none;
    }
  }
}
