<div class="container">
  <div class="text-container">
    <h2>About Me</h2>

    <p>I am a 22-year-old full stack developer and graphic designer based in the NYC area. My objective is to craft
      meaningful digital experiences and enable creative concepts through the mediums of technology. I have proficiency in
      a plethora of programming languages, frameworks, and design software, but my trait as a professional developer is my
      adaptability. My ability to apply core technical and design methodologies to a range of conditions, allows me to
      create memorable digital experiences efficiently.</p>

    <h2>My Toolbox</h2>

    <div class="toolbox-container">
      <a href="https://developer.mozilla.org/en-US/docs/Web/javascript" target="_blank" rel="noopener noreferrer" >
        <img src="assets/tag-icons/javascript.png" alt="Javascript Icon">
      </a>

      <a href="https://sass-lang.com/" target="_blank" rel="noopener noreferrer" >
        <img src="assets/tag-icons/scss.png" alt="SCSS Icon">
      </a>

      <a href="https://www.typescriptlang.org/" target="_blank" rel="noopener noreferrer" >
        <img src="assets/tag-icons/typescript.png" alt="TypeScript Icon">
      </a>

      <a href="https://docs.oracle.com/javase/7/docs/api/" target="_blank" rel="noopener noreferrer" >
        <img src="assets/tag-icons/java.png" alt="Java Icon">
      </a>

      <a href="https://docs.microsoft.com/en-us/cpp/?view=vs-2019" target="_blank" rel="noopener noreferrer" >
        <img src="assets/tag-icons/c++.png" alt="C++ Icon">
      </a>

      <a href="https://docs.microsoft.com/en-us/dotnet/csharp/" target="_blank" rel="noopener noreferrer" >
        <img src="assets/tag-icons/csharp.png" alt="C# Icon">
      </a>

      <a href="https://www.djangoproject.com/" target="_blank" rel="noopener noreferrer" >
        <img src="assets/tag-icons/django.png" alt="Django Icon">
      </a>

      <a href="https://dotnet.microsoft.com/apps/aspnet" target="_blank" rel="noopener noreferrer" >
        <img src="assets/tag-icons/aspnet.png" alt="Asp.net Icon">
      </a>

      <a href="https://nodejs.org/en/" target="_blank" rel="noopener noreferrer" >
        <img src="assets/tag-icons/node.png" alt="Node JS Icon">
      </a>

      <a href="https://www.postgresql.org/" target="_blank" rel="noopener noreferrer" >
        <img src="assets/tag-icons/postgre.png" alt="Postgre SQL Icon">
      </a>

      <a href="https://docs.microsoft.com/en-us/sql/t-sql/tutorial-writing-transact-sql-statements?view=sql-server-ver15" target="_blank" rel="noopener noreferrer" >
        <img src="assets/tag-icons/tsql.png" alt="Transact-SQL Icon">
      </a>

      <a href="https://www.mysql.com/" target="_blank" rel="noopener noreferrer" >
        <img src="assets/tag-icons/mysql.png" alt="MySQL Icon">
      </a>

      <a href="https://developer.android.com/" target="_blank" rel="noopener noreferrer" >
        <img src="assets/tag-icons/android.png" alt="Android Icon">
      </a>

      <a href="https://www.adobe.com/products/photoshop.html" target="_blank" rel="noopener noreferrer" >
        <img src="assets/tag-icons/photoshop.png" alt="Photoshop Icon">
      </a>

      <a href="https://www.adobe.com/products/aftereffects.html" target="_blank" rel="noopener noreferrer" >
        <img src="assets/tag-icons/ae.png" alt="After Effects Icon">
      </a>

      <a href="https://www.adobe.com/products/premiere.html" target="_blank" rel="noopener noreferrer" >
        <img src="assets/tag-icons/premiere.png" alt="Premiere Pro Icon">
      </a>

      <a href="https://www.maxon.net/en-us/products/cinema-4d/overview/" target="_blank" rel="noopener noreferrer" >
        <img src="assets/tag-icons/cinema.png" alt="Cinema 4d Icon">
      </a>

      <a href="https://docs.unity3d.com/Manual/index.html" target="_blank" rel="noopener noreferrer" >
        <img src="assets/tag-icons/unity.png" alt="Unity Icon">
      </a>
    </div>
  </div>
</div>

