.works-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 15px;

  color: white;
}

.work-card {
  position: relative;
  width: 100%;
  height: 100%;

  border-radius: 5px;

  overflow: hidden;

  .works-info_container {
    position: absolute;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0);
    transition: background-color 1s ease;

    z-index: 1;

    .works-info {
      display: grid;
      width: 100%;

      background-color: rgba(0, 0, 0, .2);

      &.top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        position: relative;
        top: -59px;
        transition: top .5s cubic-bezier(0.4, 0, 0.2, 1);

        .catagory-container {
          padding-left: 15px;

          h3 {
            color: white;
            font-family: Josefin Sans Thin, sans-serif;
            font-size: 14px;
          }
        }

        .external-link-container {
          display: flex;
          justify-content: flex-end;

          padding: 15px 15px;

          .logo {
            width: 25px;
            fill: white;
            z-index: 10;
            margin-left: 25px;
          }
        }
      }

      &.bottom {
        grid-template-rows: 1fr 2fr;
        align-items: center;
        position: absolute;
        height: 40%;
        bottom: -25%;
        padding: 0 15px;

        transition: bottom .5s cubic-bezier(0.4, 0, 0.2, 1);

        .works-title {
          text-decoration: none;
          font-family: Josefin Sans, sans-serif;
          color: white;
          margin: 0;
        }

        .works-tags {
          display: flex;
          flex-direction: row;

          img {
            height: 40px;
            padding-right: 10px;
          }
        }
      }
    }
  }

  .thumbnail {
    display: block;
    z-index: 0;
    max-width: 100%;
    transform: scale(1);
    transition: transform 0.5s ease;
  }
}

.work-card:hover {
  .works-info_container {
    background-color: rgba(0, 0, 0, .25);

    .top {
      top: 0;
    }

    .bottom {
      bottom: 0;
    }
  }

  .thumbnail {
    transform: scale(1.05);
  }
}

@media (max-width: 630px) {
  .works-container {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }

  .work-card {
    border-radius: 0;
  }
}
