.page-container {

}

.header {
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  z-index: 5;
}

.content {
  grid-area: main;
}

.footer {
  position: fixed;
  bottom: 0;

  width: 100%;
}
