<div class="container">
  <div #image class="hover-image_container" [class.hovered]="_hover">
    <ng-container *ngIf="worksList">
      <a *ngFor="let work of worksList; let _index=index" [routerLink]="['/works', 'project']" [queryParams]="{ id: work.id }" [class.show]="_show[_index]">
        <picture class="hover-image">
          <source srcset="{{ resolveURL(work.thumbnail, 'webp') }}" type="image/webp">
          <source srcset="{{ resolveURL(work.thumbnail, 'jpeg') }}" type="image/jpeg">
          <img class="thumbnail" src="{{ resolveURL(work.thumbnail, 'jpeg') }}" alt="">
        </picture>
      </a>
    </ng-container>
  </div>

  <div class="marquee-container" [class.hovered]="_hover">
    <div class="marquee" *ngFor="let work of worksList; let _index=index" [class.show]="_show[_index]">
      <div class="marquee-intrinsic">
        <span>{{ work.name }}</span>
        <span>{{ work.name }}</span>
        <span>{{ work.name }}</span>
        <span>{{ work.name }}</span>
        <span>{{ work.name }}</span>
      </div>
    </div>
  </div>

  <canvas #main [ngStyle]="{'margin': 0}"></canvas>
</div>



