.container {
  margin-bottom: 150px;
  color: white;
  font-family: Josefin Sans, sans-serif;


  h2 {
    font-size: 32px;
    margin: 50px 0 0 0;
    padding: 25px;
    align-self: center;
    text-align: center;
  }

  .project-title {
    margin: 10px 0 0 0;
  }

  .thumb-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 100vh;

    img {
      align-self: center;
      max-width: 50%;
      border-radius: 5px;
    }
  }

  .icon-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(50px, 1fr));
    justify-content: center;

    width: 100%;

    a {
      display: flex;
      justify-content: center;
      align-self: center;

      img {
        justify-self: center;
        align-self: center;
        padding: 5px;
        max-width: 100%;
      }
    }
  }

  .images-container, .video-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

    .image-container {
      display: flex;
      justify-content: center;

      width: 75%;
      max-height: 100vh;
      justify-self: center;
      align-self: center;

      overflow: hidden;
    }

    img {
      max-width: 100%;
      max-height: 100%;

      padding: 25px;

      align-self: center;
    }

    video {
      max-width: 75%;
      max-height: 50vh;

      padding: 25px;

      align-self: center;
    }
  }
}

@media (max-width: 630px) {
  .container{
    margin-bottom: 100px;

    h2 {
      font-size: 28px;
    }

    .icon-container {
      grid-template-columns: repeat(3, minmax(20px, 1fr));
    }

    .images-container, .video-container {
      img {
        max-width: 100%;
        max-height: 75vh;

        padding: 0;
        margin-bottom: 20px;

        align-self: center;
      }

      video {
        max-width: 100%;
        max-height: 75vh;

        padding: 0;
        margin-bottom: 20px;

        align-self: center;
      }
    }
  }
}

