<div class="container" *ngIf="project">
  <ng-container *ngIf="project.thumbnail">
    <div class="thumb-container" >
      <img src="{{ this.mediaCDN }}images/{{ project.thumbnail }}" alt="{{ project.name }} Showcase Hero Image">
      <h2 class="project-title">{{ project.name }}</h2>
    </div>
  </ng-container>

  <ng-container *ngIf="project.description">
    <div class="description-container">
      <p>{{ project.description }}</p>
    </div>
  </ng-container>

  <ng-container *ngIf="project.tags">
    <h2 class="made-with-title">Made With ❤ Using</h2>
    <div class="icon-container">
      <ng-container *ngIf="project.tags.split(',').includes('html')">
        <a href="https://developer.mozilla.org/en-US/docs/Web/HTML" target="_blank" rel="noopener noreferrer">
          <img src="assets/tag-icons/html.png" alt="HTML Icon">
        </a>
      </ng-container>
      <ng-container *ngIf="project.tags.split(',').includes('css')">
        <a href="https://developer.mozilla.org/en-US/docs/Web/CSS" target="_blank" rel="noopener noreferrer">
          <img src="assets/tag-icons/css.png" alt="CSS Icon">
        </a>
      </ng-container>
      <ng-container *ngIf="project.tags.split(',').includes('javascript')">
        <a href="https://developer.mozilla.org/en-US/docs/Web/javascript" target="_blank" rel="noopener noreferrer">
          <img src="assets/tag-icons/javascript.png" alt="Javascript Icon">
        </a>
      </ng-container>
      <ng-container *ngIf="project.tags.split(',').includes('xml')">
        <a href="https://developer.mozilla.org/en-US/docs/Web/XML/XML_introduction" target="_blank" rel="noopener noreferrer">
          <img src="assets/tag-icons/xml.png" alt="XML Icon">
        </a>
      </ng-container>
      <ng-container *ngIf="project.tags.split(',').includes('scss')">
        <a href="https://sass-lang.com/" target="_blank" rel="noopener noreferrer">
          <img src="assets/tag-icons/scss.png" alt="SCSS Icon">
        </a>
      </ng-container>
      <ng-container *ngIf="project.tags.split(',').includes('typescript')">
        <a href="https://www.typescriptlang.org/" target="_blank" rel="noopener noreferrer">
          <img src="assets/tag-icons/typescript.png" alt="TypeScript Icon">
        </a>
      </ng-container>
      <ng-container *ngIf="project.tags.split(',').includes('java,')">
        <a href="https://docs.oracle.com/javase/7/docs/api/" target="_blank" rel="noopener noreferrer">
          <img src="assets/tag-icons/java.png" alt="Java Icon">
        </a>
      </ng-container>
      <ng-container *ngIf="project.tags.split(',').includes('c++')">
        <a href="https://docs.microsoft.com/en-us/cpp/?view=vs-2019" target="_blank" rel="noopener noreferrer">
          <img src="assets/tag-icons/c++.png" alt="C++ Icon">
        </a>
      </ng-container>
      <ng-container *ngIf="project.tags.split(',').includes('c#')">
        <a href="https://docs.microsoft.com/en-us/dotnet/csharp/" target="_blank" rel="noopener noreferrer">
          <img src="assets/tag-icons/csharp.png" alt="C# Icon">
        </a>
      </ng-container>
      <ng-container *ngIf="project.tags.split(',').includes('opencv')">
        <a href="https://docs.opencv.org/" target="_blank" rel="noopener noreferrer">
          <img src="assets/tag-icons/opencv.png" alt="OpenCV Icon">
        </a>
      </ng-container>
      <ng-container *ngIf="project.tags.split(',').includes('mips32')">
        <a href="https://www.mips.com/products/architectures/mips32-2/" target="_blank" rel="noopener noreferrer">
          <img src="assets/tag-icons/mips32.png" alt="MIPS32 Icon">
        </a>
      </ng-container>
      <ng-container *ngIf="project.tags.split(',').includes('rainmeter')">
        <a href="https://docs.rainmeter.net/" target="_blank" rel="noopener noreferrer">
          <img src="assets/tag-icons/rainmeter.png" alt="Rainmeter Icon">
        </a>
      </ng-container>
      <ng-container *ngIf="project.tags.split(',').includes('django')">
        <a href="https://www.djangoproject.com/" target="_blank" rel="noopener noreferrer">
          <img src="assets/tag-icons/django.png" alt="Django Icon">
        </a>
      </ng-container>
      <ng-container *ngIf="project.tags.split(',').includes('asp.net')">
        <a href="https://dotnet.microsoft.com/apps/aspnet" target="_blank" rel="noopener noreferrer">
          <img src="assets/tag-icons/aspnet.png" alt="Asp.net Icon">
        </a>
      </ng-container>
      <ng-container *ngIf="project.tags.split(',').includes('node')">
        <a href="https://nodejs.org/en/" target="_blank" rel="noopener noreferrer">
          <img src="assets/tag-icons/node.png" alt="Node JS Icon">
        </a>
      </ng-container>
      <ng-container *ngIf="project.tags.split(',').includes('postgre')">
        <a href="https://www.postgresql.org/" target="_blank" rel="noopener noreferrer">
          <img src="assets/tag-icons/postgre.png" alt="Postgre SQL Icon">
        </a>
      </ng-container>
      <ng-container *ngIf="project.tags.split(',').includes('t-sql')">
        <a href="https://docs.microsoft.com/en-us/sql/t-sql/tutorial-writing-transact-sql-statements?view=sql-server-ver15" target="_blank" rel="noopener noreferrer">
          <img src="assets/tag-icons/tsql.png" alt="Transact-SQL Icon">
        </a>
      </ng-container>
      <ng-container *ngIf="project.tags.split(',').includes('mysql')">
        <a href="https://www.mysql.com/" target="_blank" rel="noopener noreferrer">
          <img src="assets/tag-icons/mysql.png" alt="MySQL Icon">
        </a>
      </ng-container>
      <ng-container *ngIf="project.tags.split(',').includes('android')">
        <a href="https://developer.android.com/" target="_blank" rel="noopener noreferrer">
          <img src="assets/tag-icons/android.png" alt="Android Icon">
        </a>
      </ng-container>
      <ng-container *ngIf="project.tags.split(',').includes('photoshop')">
        <a href="https://www.adobe.com/products/photoshop.html" target="_blank" rel="noopener noreferrer">
          <img src="assets/tag-icons/photoshop.png" alt="Photoshop Icon">
        </a>
      </ng-container>
      <ng-container *ngIf="project.tags.split(',').includes('after effects')">
        <a href="https://www.adobe.com/products/aftereffects.html" target="_blank" rel="noopener noreferrer">
          <img src="assets/tag-icons/ae.png" alt="After Effects Icon">
        </a>
      </ng-container>
      <ng-container *ngIf="project.tags.split(',').includes('premiere pro')">
        <a href="https://www.adobe.com/products/premiere.html" target="_blank" rel="noopener noreferrer">
          <img src="assets/tag-icons/premiere.png" alt="Premiere Pro Icon">
        </a>
      </ng-container>
      <ng-container *ngIf="project.tags.split(',').includes('cinema 4d')">
        <a href="https://www.maxon.net/en-us/products/cinema-4d/overview/" target="_blank" rel="noopener noreferrer">
          <img src="assets/tag-icons/cinema.png" alt="Cinema 4d Icon">
        </a>
      </ng-container>
      <ng-container *ngIf="project.tags.split(',').includes('unity')">
        <a href="https://docs.unity3d.com/Manual/index.html" target="_blank" rel="noopener noreferrer">
          <img src="assets/tag-icons/unity.png" alt="Unity Icon">
        </a>
      </ng-container>
    </div>
  </ng-container>

  <ng-container *ngIf="project.images">
    <div class="images-container" >
      <h2 *ngIf="this.images.length > 1">Images</h2>
      <h2 *ngIf="this.images.length === 1">Image</h2>

      <div *ngFor="let image of images" class="image-container">
        <img src="{{ this.mediaCDN }}images/{{ image }}" alt="{{ project.name }} Showcase Image">
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="project.videos">
    <h2 *ngIf="this.videos.length > 1">Videos</h2>
    <h2 *ngIf="this.videos.length === 1">Video</h2>
    <div class="video-container" >
        <video *ngFor="let video of videos" controls>
          <source src="{{ this.mediaCDN }}video/{{ video }}">
          <track label="English" kind="captions" srclang="en" src="" default>
        </video>
    </div>
  </ng-container>
</div>
