/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

body, p {
  margin: 0;
  padding: 0;
}

body {
  background-color: #0a0a0a;
}

h1 {
  margin: 0;
}

@font-face {
  font-family: Lato;
  src: url(assets/fonts/Lato-Regular.ttf) format("truetype");
}

@font-face {
  font-family: Lato Black;
  src: url(assets/fonts/Lato-Black.ttf) format("truetype");
}

@font-face {
  font-family: Lato Bold;
  src: url(assets/fonts/Lato-Bold.ttf) format("truetype");
}

@font-face {
  font-family: Lato Light;
  src: url(assets/fonts/Lato-Light.ttf) format("truetype");
}

@font-face {
  font-family: Lato Thin;
  src: url(assets/fonts/Lato-Thin.ttf) format("truetype");
}

@font-face {
  font-family: Josefin Sans Light;
  src: url(assets/fonts/JosefinSans-Thin.ttf) format("truetype");
}

@font-face {
  font-family: Josefin Sans Bold;
  src: url(assets/fonts/JosefinSans-Bold.ttf) format("truetype");
}

@font-face {
  font-family: Josefin Sans Thin;
  src: url(assets/fonts/JosefinSans-Thin.ttf) format("truetype");
}

@font-face {
  font-family: Erica One;
  src: url(assets/fonts/EricaOne-Regular.ttf) format("truetype");
}
